#carouselExampleFade{
    height: 500px;
    width: 500px;
}
h3 {
    width: 50px;
    height: 25px;
    display: inline;
    
}
p {
    background-color: black;
    color: yellow;
}

#mar {
    color: darkblue;
    background-color: aquamarine;
    text-align: center;
    width: 220px;
    border: 3px,solid,black;
    height: 40px;
    display: inline-block;
}
#side-line {
font-style: italic;
color: aqua;
}
.syllabus {
    background-color: palevioletred;
    border: 3px,black;
}
#h-head {
    background-color: black;
}
#sign-in {
text-transform: capitalize;
font-style: oblique;
text-decoration: underline;
background-color: aqua;
}
.pera {
    background-color: black;
    color: yellow;
}
a {
   
    color: white;
    border: 3px,black,solid;
}
